<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="./academic-home.html">Bee Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./insert-course.html">Insert Course</a>
                    </li>
                </ul>
                <ul style="list-style: none">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menu" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Academic Department</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../login-page.html">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>
    <div class="form" style="margin: 50px 100px">
        <div class="form-group">
            <h2> <strong class="d-flex justify-content-center" style="margin-top: 75px;" >Update Course</strong> </h2>
            <label class="form-label mt-4" >Course Name</label>
            <div class="form-floating">
                <input type="text" class="form-control" name="text" id="course-name">
                <label for="floatingInput">Course Name</label>
            </div>
            <label class="form-label mt-4" >Course Syllabus</label>
            <div class="form-floating">
                <input type="text" class="form-control" name="text" id="course-syllabus">
                <label for="floatingInput">Course Syllabus</label>
            </div>
            <label class="form-label mt-4" >Course Credit</label>
            <div class="form-floating">
                <input type="text" class="form-control" name="text" id="course-credit">
                <label for="floatingInput">Course Credit</label>
            </div>
            <label class="form-label mt-4" >Assignment Score Percentage</label>
            <div class="form-floating">
                <input type="text" class="form-control" name="text" id="asg-score">
                <label for="floatingInput">Assignment Score Percentage</label>
            </div>
            <label class="form-label mt-4" >Mid Exam Score Percentage</label>
            <div class="form-floating">
                <input type="text" class="form-control" name="text" id="mid-score">
                <label for="floatingInput">Mid Exam Score Percentage</label>
            </div>
            <label class="form-label mt-4" >Final Exam Score Percentage</label>
            <div class="form-floating">
                <input type="text" class="form-control" name="text" id="final-score">
                <label for="floatingInput">Final Exam Score Percentage</label>
            </div>
            <input style="margin: 25px 0" type="submit" class="btn btn-primary" id="submitBtn" value="Update">
            </div>
        </div>
    </div>
  </body>
  <script type="module">
    import { addDoc, Firestore, collection, getDocs, getDoc, doc, getFirestore, query, updateDoc } from 'https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js'
    import { firebaseApp } from '../../firebase.js'

    const db = getFirestore(firebaseApp)

    var CourseID = sessionStorage.getItem("currCourse");

    window.onload = async() => {
        const docRef = doc(db, "courses", CourseID);
        const docSnap = await getDoc(docRef);
        const { CourseName, CourseCredit, CourseSyllabus, AssignmentScorePercentage, MidExamScorePercentage, FinalExamScorePercentage } = docSnap.data()
        
        document.getElementById("course-name").setAttribute("value", CourseName);
        document.getElementById("course-credit").setAttribute("value", CourseCredit);
        document.getElementById("course-syllabus").setAttribute("value", CourseSyllabus);
        document.getElementById("asg-score").setAttribute("value", AssignmentScorePercentage);
        document.getElementById("mid-score").setAttribute("value", MidExamScorePercentage);
        document.getElementById("final-score").setAttribute("value", FinalExamScorePercentage);
    }
    
    document.querySelector('#submitBtn').addEventListener('click', async() => {      
        var ClassID = sessionStorage.getItem('currClassID');

        var CourseName = document.getElementById('course-name').value;
        var CourseCredit = document.getElementById('course-credit').value;
        var CourseSyllabus = document.getElementById('course-syllabus').value;
        var AsgScore = document.getElementById('asg-score').value;
        var MidScore = document.getElementById('mid-score').value;
        var FinalScore = document.getElementById('final-score').value;
        var materials = [];

        if(CourseName == "" || CourseCredit == "" || CourseSyllabus == "" || AsgScore == "" || MidScore == "" || FinalScore == ""){
            alert('Course data must be inserted!')
        }else{
            const courseRef = doc(db, "courses", CourseID);
            await updateDoc(courseRef, {
                CourseName: CourseName,
                CourseCredit: CourseCredit,
                CourseSyllabus: CourseSyllabus,
                AssignmentScorePercentage: AsgScore,
                MidExamScorePercentage: MidScore,
                FinalExamScorePercentage: FinalScore
            });
        }  
        window.location.assign('./academic-home.html')
    })

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>