<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="">Bee Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="./view-teaching-schedule.html">View Teaching Schedule</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assignment</a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="./create-group-assignment.html">Create Group Assignment</a>
                              <a class="dropdown-item" href="./create-individual-assignment.html">Create Individual Assignment</a>
                              <div class="dropdown-divider"></div>
                              <a class="dropdown-item" href="./create-group.html">Create Group</a>
                            </div>
                          </li>
                    </li>
                </ul>
                <ul style="list-style: none">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menu" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lecturer</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../login-page.html">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>

    <ul class="nav nav-tabs" style="margin-top: 50px;">
        <li class="nav-item">
          <a class="nav-link" href="./view-co.html">Course Outline</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="./view-forum.html">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./view-student.html">Student</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assignment</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./create-individual-assignment.html">Individual Assignment</a>
            <a class="dropdown-item" href="./create-group-assignment.html">Group Assignment</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="./create-group.html">Create Group</a>
          </div>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div id="header-forum" style="justify-content: center; margin: 50px 100px;">
            <template id="header-template" class="text-center">
                <h4 id="forum-title"></h4>
                <blockquote id="forum-comment" class="blockquote">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>
                <figcaption id="forum-user" class="blockquote-footer">
                User
                </figcaption>
            </template>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Comment</th>
            </tr>
            </thead>
            <tbody id="forums">
            <template id="forum-template">
                <tr>
                    <td scope="col" id="user">class code</td>
                    <td scope="col" id="comment">course name</td>
                </tr>
            </template>
            </tbody>
        </table>

        <div class="form-group">
            <div class="input-group mb-3">
                <input type="text" id="comment-field" class="form-control" placeholder="Input Comment" aria-label="Input Comment" aria-describedby="button-addon2">
                <button class="btn btn-primary" type="button" id="button-addon2">Comment</button>
            </div>
            </div>
        </div>
    </div>
  </body>
  <script type="module">
    import { addDoc, Firestore, collection, getDocs, getDoc, doc, getFirestore, query, where } from 'https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js'
    import { firebaseApp } from '../../firebase.js'

    const db = getFirestore(firebaseApp)
    var ForumID = sessionStorage.getItem('currForum');

    window.onload = async () => {
        const docClass = await getDoc(doc(db, "forum", ForumID));
        const { Title, UserID, Comment } = docClass.data()

        let bodyForum = document.querySelector('#header-forum')
        let templateForum = document.querySelector('#header-template')
        const cloneForum = templateForum.content.cloneNode(true)
        const title_header = cloneForum.querySelector('#forum-title')
        const user_header = cloneForum.querySelector('#forum-user')
        const comment_header = cloneForum.querySelector('#forum-comment')

        title_header.textContent = Title
        user_header.textContent = UserID
        comment_header.textContent = Comment
        
        bodyForum.appendChild(cloneForum)

        const querySnapshot = await getDocs(collection(db, "forumDetail"), where("ForumID", "==", ForumID));
        querySnapshot.forEach((query) => {
            const { Comment, UserID } = query.data()

            let body = document.querySelector('#forums')
            let template = document.querySelector('#forum-template')
            const clone = template.content.cloneNode(true)
            const user = clone.querySelector('#user')
            const comment = clone.querySelector('#comment')

            user.textContent = UserID
            comment.textContent = Comment

            body.appendChild(clone)
        });
        
    }

    document.querySelector('#button-addon2').addEventListener('click', async() => {        
        var userID =  sessionStorage.getItem('currLecturer');

        const docRef = await addDoc(collection(db, "forumDetail"), {
            ForumID: ForumID,
            Comment: document.getElementById('comment-field').value,
            UserID: userID
        });

        window.location.reload()
    })

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>