<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="">Bee Portal</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="./view-teaching-schedule.html">View Teaching Schedule</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assignment</a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="./create-group-assignment.html">Create Group Assignment</a>
                          <a class="dropdown-item" href="./create-individual-assignment.html">Create Individual Assignment</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="./create-group.html">Create Group</a>
                        </div>
                      </li>
                </ul>
                <ul style="list-style: none">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="menu" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Lecturer</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../login-page.html">Log Out</a>
                        </div>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
    </header>

    <ul class="nav nav-tabs" style="margin-top: 50px;">
        <li class="nav-item">
          <a class="nav-link" href="./view-co.html">Course Outline</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="./view-forum.html">Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="./view-student.html">Student</a>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assignment</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="./view-assignment.html">Assignment</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="./create-assignment.html">Create Assignment</a>
            <a class="dropdown-item" href="./create-group.html">Create Group</a>
          </div>
        </li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <h2 style="margin-top: 75px;"> <strong class="d-flex justify-content-center" >View Student</strong> </h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Student Name</th>
            </tr>
            </thead>
            <tbody id="stud">
            <template id="stud-template">
                <tr>
                    <td scope="col" id="stud-id">class code</td>
                    <td scope="col" id="stud-name">course name</td>
                </tr>
            </template>
            </tbody>
        </table>
        </div>
  </body>
  <script type="module">
    import { Firestore, collection, getDocs, getDoc, doc, query, getFirestore, where } from 'https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js'
    import { firebaseApp } from '../../firebase.js'

    const db = getFirestore(firebaseApp);
    
    window.onload = async () => {
        var ClassID = sessionStorage.getItem('currClassID');
        const q = query(collection(db, "classDetail"), where("ClassID", "==", ClassID));
        const querySnapshot = await getDocs(q);
        querySnapshot.forEach((query) => {
            console.log(query.data())
            const { StudentNumber } = query.data()
            
            async function test(){
                const docStud = await getDoc(doc(db, "students", StudentNumber));
                const { StudentName } = docStud.data()


                let bodyStud = document.querySelector('#stud')
                let templateStud = document.querySelector('#stud-template')
                const cloneStud = templateStud.content.cloneNode(true)
                const stud_id = cloneStud.querySelector('#stud-id')
                const stud_name = cloneStud.querySelector('#stud-name')

                stud_id.textContent = StudentNumber
                stud_name.textContent = StudentName


                bodyStud.appendChild(cloneStud)
            }
            test().catch((e)=>{
                console.log(e.message)
            });
        })
    };


  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>